<!DOCTYPE html>
<html><head><meta charset="UTF-8"/>

	<title>theswiftalpsdemo</title>

	<meta name="keywords" content="the swift alps demo"/>
	<meta name="description" content="the swift alps demo"/>
	<meta name="author" content="Cossacklabs"/>

	<meta name="viewport" content="width=device-width,initial-scale=1"/>

<style>

	*				{
					 margin:0;
					 padding:0;
					 border:none;
					 outline:none;
					 background:transparent;
	box-sizing:border-box;
        font-size: 12px;
					}

	html,
	body				{width:100%; height:100%; position:absolute;  /*400*/;}

	body,
	input,
	button,
	textarea			{font-size:16px; font-family:Arial, helvetica; fline-height:1.1em; }


	body				{z-index:-1}
	button				{cursor:pointer}
table {
   border-collapse: collapse;
}
        table, th, td {
   border: 1px solid black;
}
</style>
  </head>
  <body>
    <script>
      function $(o){
          return document.getElementById(o);
      }

      function node_(n){
          return document.createElement(n);
      }

      var intervalID = setInterval(function(){
         var xmlHttp = new XMLHttpRequest();
         xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
               var new_messages = JSON.parse(xmlHttp.responseText);
      if(new_messages.error || !(new_messages.info)){
         if(!($('chat_table_error_row'))){
             var tr = node_('tr');
             tr.id = 'chat_table_error_row';
             var td = node_('td');
             td.colSpan = 3;
             td.innerHTML = new_messages.error;
             tr.appendChild(td);
             $('chat_table').appendChild(tr);
         }
      }else{
          if(new_messages.info.length > 0 && $('chat_table_error_row'))
              $('chat_table_error_row').remove();
          for(var i=0; i< new_messages.info.length; ++i){
                          var tr = node_('tr');
                          tr.innerHTML = '<td>'+ new_messages.info[i].name + '</td><td>'+new_messages.info[i].time+'</td><td>'+new_messages.info[i].message+'</td>';
                          $('chat_table').appendChild(tr);
          }
      }
            }
         }
         xmlHttp.open("GET", "{{url}}get_new_messages", true); // true for asynchronous
         xmlHttp.send(null);
      }, 1000);
    </script>
    <div class='header'>
      <p><b>url:</b> {{url}}</p>
      <p><b>server id:</b> {{server_id}}</p>
      <p><b>server public key (base64 encoded):</b> {{server_public_key}}</p>
    </div>


    <div class="chat">
      <table border=solid id="chat_table" width=100%>
        <tr>
          <th width="10%">Name</th>
          <th>Timestamp</th>
          <th width="50%">Message</th>
        </tr>
        <tr id='chat_table_error_row'><td colspan=3><img src='https://mokum.place/system/attachments/000/178/129/mokum-medium-4965ce7a2f478e4f4a6ca07cd76b759300d17a9c.jpg'></td></tr>
      </table>
    </div>
  </body>
</html>
